page-select-instrumento-bar-code {

}
ion-card.bordered ion-card-header{
    border-bottom: solid 1px black;
}

ion-card.center ion-card-header{
    text-align: center !important;
}

ion-card.bordered ion-card-content{
    padding-top: 15px !important;
}