<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
  <ion-item no-padding color="secondary" class='subtitle'>
    <ion-title item-start>{{novaOuEdicao}}</ion-title>
    <ion-buttons item-end>
      <button ion-button item-end icon-only small (click)="delete()" [disabled]="hasChanges()?'':'disabled'" color='danger'>
        <ion-icon name='trash'></ion-icon>
      </button>
      <button ion-button item-end small (click)="nova()" [disabled]="hasChanges()?'':'disabled'" color='danger'>
        <ion-icon name='document'></ion-icon>
      </button>
      <button ion-button item-end small (click)="save()" [disabled]="hasChanges()?'':'disabled'" color='danger'>
        Salvar
      </button>
    </ion-buttons>
  </ion-item>
  <table class='dataTable'>
    <tr>
      <td class='tdLblBlk' width='100px'>Data leitura:</td>
      <td class='tdValLeitura'>
        <ion-item class='button'>
          <ion-datetime displayFormat='DD/MM/YYYY HH:mm' pickerFormat='DD/MM/YYYY HH:mm' [disabled]="blockDate" cancelText="Cancelar" doneText="Ok" [(ngModel)]="model.dataLeitura"></ion-datetime>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td class='tdLblBlk'>Situação:</td>
      <td class='tdValLeitura'>
        <ion-item class='select'>
          <ion-select [(ngModel)]='model.situacao' interface='action-sheet' (ngModelChange)="changeSituacao()">
            <ion-option *ngFor='let sit of situacoesLeitura' [value]='sit.id'>
              {{sit.sigla}} - {{sit.nome}}
            </ion-option>
          </ion-select>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td class='tdLblBlk'>Nivel D´água:</td>
      <td class='tdValLeitura'>
        <input type='text' [(ngModel)]="model.nivelDagua" (ngModelChange)="sanitizaNro('na',model.nivelDagua)" class='numero'>
      </td>
    </tr>
    <tr>
      <td class='tdLblBlk'>Comentário:</td>
      <td class='tdValLeitura'>
        <ion-input [(ngModel)]="model.observacao" type="text" class='texto'></ion-input>
      </td>
    </tr>
  </table>
</ion-header>
<ion-content>
  <table class='dataTableMP'>
    <tr>
      <th *ngFor="let col of columns">
        {{col.label}}
      </th>
    </tr>
    <tr>
      <td *ngFor="let col of columns" class='col{{col.seq}} tdValLeitura'>
        <span *ngIf="showLabel(col, rowId)">
          {{getLabel(rowId)}}
        </span>
        <input [(ngModel)]="valorMultipontoCorrente[col.templateleituraid]" *ngIf="!showLabel(col,rowId)" class='numero' (ngModelChange)='sanitizaNro(col.templateleituraid, valorMultipontoCorrente[col.templateleituraid])'>
      </td>
    </tr>
  </table>
  <ion-item no-padding>
    <ion-buttons item-end>
      <button ion-button icon-only small color="danger" (click)="gotoZero()" [disabled]="prevEnabled()?'':'disabled'">
        <ion-icon name='rewind'></ion-icon>
      </button>
      <button ion-button icon-only small color="danger" (click)="prev()" [disabled]="prevEnabled()?'':'disabled'">
        <ion-icon name='arrow-dropleft'></ion-icon>
      </button>
      <button ion-button icon-only small color="danger" (click)="next()" [disabled]="nextEnabled()?'':'disabled'">
        <ion-icon name='arrow-dropright'></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
  <br>
  <div class='confTable' width='100%'>
    <div *ngFor='let consist of consistencia'>
      <div class='labelErr {{consist.level}}'>
        <span class='errTitle'>{{consist.coluna}}:</span>
        <br/>
        <span class='errMsg'>{{consist.mensagem}}</span>
      </div>
    </div>
  </div>
</ion-content>