<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
  <ion-item no-padding color="secondary" class='subtitle'>
    <ion-title item-start>Instrumento</ion-title>
    <ion-buttons item-end>
      <button ion-button item-end small *ngIf="mustsave" (click)="saveStateChange()" color='danger'>
        Salvar
      </button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
    <ion-grid *ngIf="isDataAvailable">
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv' style='padding-top:5px;'>Instrumento:</div>
        </ion-col>
        <ion-col class='dataDiv' style='font-size: 120%; font-weight:bold;'>{{instrumento.sigla}}-{{instrumento.numero}}
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv' style='padding-top:5px;'>Estado:</div>
        </ion-col>
        <ion-col class='dataDiv'>
          <div style='float:left; padding-top: 4px;'>
            {{estado}}
          </div>
          <div style='float:right;'>
            <ion-toggle style="padding: 5px !important;" [(ngModel)]="ativo" (ionChange)="setStatus()"></ion-toggle>
          </div>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Tipo:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.siglatipo}}-{{instrumento.nometipo}}
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Modelo:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.siglamodelo}}-{{instrumento.nomemodelo}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Cód. Barras:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.codigoBarra}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Estaca:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.estaca}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Afastamento:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.afastamento}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Estrutura:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.estruturalocalizacao}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Seção:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.secao}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class='lblDiv'>
          <div class='lblDiv'>Elemento:</div>
        </ion-col>
        <ion-col class='dataDiv'>{{instrumento.elemento}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>