// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.closeFilesFooter {
    height: 95px !important;
}
.closeFilesButton {
    height: 80px !important;
    text-align: center;
}
.listHeight{
    height: 50px !important;
}
.head{
    height: 50px !important;
    background-color: map-get($colors, primary); 
}
.head>.item-inner{
    border-bottom: none !important;
}
.head>ion-title>div.toolbar-title, .head>div.item-inner>ion-title>div.toolbar-title{
    color: whitesmoke !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-align: left;
}

.subHead{
    background-color: map-get($colors, secondary); 
}
.subHead>ion-title>div.toolbar-title, .subHead>div.item-inner>ion-title>div.toolbar-title{
    color: map-get($colors, dark) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}


.detail {
    height: 50px !important;
}
.detail>.item-inner{
    border-bottom: none !important;
}
.detail>ion-title>div.toolbar-title, .detail>div.item-inner>ion-title>div.toolbar-title{
    color: rgb(0, 0, 0)!important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-align: left;
}