// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* configuração das tabs de rodapé */
ion-tabs>div.tabbar{
    height: 40px !important;
    background-color: map-get($colors, primary) !important;
}

.barcodeBtn{
    padding: 20px 13px !important;
}

/* Action Sheet (select bottom-up) */
ion-action-sheet>div>div>div:nth-child(1){
    padding-top: 0px !important;
}
.action-sheet-title{
    background-color: map-get($colors, secondary) !important;
}
ion-action-sheet>div>div>div.action-sheet-group.action-sheet-group-cancel>button{
    min-height: 30px;
    color: map-get($colors, light) !important;
    font-weight: 700px;
    background-color: map-get($colors, secondary) !important;
}


ion-select{
    font-size: 14px !important;
}
button.btnInstrumento *{
    font-size: 14px !important;
    height: 30px !important;
}
#btnInstrumento > div.item-inner > div > ion-label{
    margin: 5px 0px !important;
}

/* Botão de fechamento de campanha */
.closeFilesFooter {
    height: 95px !important;
}
.closeFilesButton {
    height: 80px !important;
    text-align: center;
}

/* SearchBar */
/* subtitulo */
ion-content.hasSearchBar > div.scroll-content{
    margin-top: 128px !important;
}

div.stSearch{
    font-size: 16px !important;
    font-weight: 700 !important;   
    color: map-get($colors, light) !important;
    text-align: center;
}
ion-toolbar.searchBar{
    height: 88px !important;
    min-height: 88px !important;
    max-height: 88px !important;
}
ion-toolbar.searchBar>div>ion-searchbar *{
    font-size: 14px !important;
}
ion-toolbar.searchBar>div>ion-searchbar *{
    font-size: 14px !important;
}
ion-toolbar.searchBar>div>ion-searchbar>div>input{
    font-size: 14px !important;
    height: 30px !important;
}
ion-toolbar.searchBar>div>ion-searchbar>div>div{
    top: 6px !important;
}
ion-toolbar.searchBar > ion-buttons > button{
    border: 1px solid map-get($colors, light);
}

table.tbSearch, table.leituras12{
    width: 90% !important;
    margin: 0px auto;

}
table.tbSearch>tbody *, table.leituras12 *{
    font-size: 14px !important;
    color: map-get($colors, dark) !important;
}
table.leituras12>tbody>tr>td{
    border-bottom: 1px solid map-get($colors, editable) !important;
}
table.leituras12>tbody>tr>td>button{
    margin: 1px 2px;
}
table.leituras12>tbody>tr>td>button>span{
    background-color: map-get($colors, primary) !important;
}
table.leituras12>tbody>tr>td>button>span>ion-icon{
    color: map-get($colors, light) !important;
}

table.leituras12>tbody>tr>td>ion-badge{
    font-size: 14px !important;
    color: map-get($colors, light) !important;
}
table.tbSearch>tbody>tr>th{
    font-size: 14px !important;
    font-weight: 700 !important;   
    background-color: map-get($colors, secondary) !important;
    color: map-get($colors, light) !important;
    padding: 2px 10px;
    text-align: left !important;
    text-transform: none;
    border-top: 1px solid map-get($colors, editable) !important;
    
}
table.tbSearch>tbody>tr>th.instr, table.tbSearch>tbody>tr>td.instr{
    width: 150px !important;
}
table.tbSearch>tbody>tr>td>button{
    font-weight: 400 !important;   
    padding: 2px 10px;
    height: 25px;
    border-bottom: 1px solid map-get($colors, editable) !important;
}
table.tbSearch>tbody>tr>td>button *{
    padding: 0px !important;
    margin: 0px !important;
    align-items: left !important;
    justify-content: left;
}
table.tbSearch>tbody>tr>td>button>span{
    border-bottom: none !important;
    text-align: left !important;
    text-transform: none;
}    
table.tbSearch>tbody>tr>td.badge>button{
    padding: 0px !important;
}
table.tbSearch>tbody>tr>td.badge>button>span>ion-badge{
    color: map-get($colors, light) !important;
    padding: 3px 6px !important;
}
    
/* Grid Erro */
div.errTable, div.confTable{
}

div.errTable>div.errHead,
div.confTable>div.errHead{
    padding: 10px;
    font-size: 18px;
    font-weight: 700 !important; 
    background-color:  map-get($colors, secondary);
    color: map-get($colors, dark);
    padding: 20px;
    text-align: center;
}    

div.confTable>div.errHead{
    background-color:  map-get($colors, light);
}    


div.confTable>div>div.labelErr,
div.errTable>div>div.labelErr{
    font-size: 14px !important;
    font-weight: 700 !important; 
    border-bottom: 2px solid map-get($colors, dark) !important;
    padding: 5px 0px 5px 5px; 
}
div.errTable>div>div.alert{
    background-color:  map-get($colors, alert);
}

div.errTable>div>div.danger{
    background-color:  map-get($colors, danger);
}
    
div.errTable>div>div.labelErr>span.errTitle{
}
div.confTable>div>div.labelErr>span.errMsg,
div.errTable>div>div.labelErr>span.errMsg{
    font-weight: 400 !important; 
    padding-left: 10px;
}




ion-item.subtitle{
    min-height: 28px !important;
    height: 28px !important;
}
ion-item.subtitle>ion-title{
    margin: 4px 0px !important;
}
ion-item.subtitle>ion-title>div{
    font-size: 14px;
    background-color: map-get($colors, secondary);
    color: map-get($colors, dark) !important;
}
ion-item.subtitle>ion-buttons,
ion-item.subtitle>div.item-inner>ion-buttons{
    margin: 0px !important;
    height: 28px !important;
}
ion-item.subtitle>ion-buttons>button,
ion-item.subtitle>div.item-inner>ion-buttons>button{
    margin: 0px !important;
    vertical-align: top !important;
}    
ion-item.subtitle>div.item-inner>ion-buttons>ion-badge{
    margin: 0px;
    padding-top: 7px;
}    

ion-item.subtitle>div.item-inner{
    border: none !important;
}


/* Página de instrumentos */
.lblDiv{
    font-size: 14px !important;
    font-weight: 700 !important; 
    text-align: right;
    padding-right: 5px;
}
.dataDiv{
    border-bottom: 1px solid  map-get($colors, editable);
    font-size: 14px !important;
}

/* Modal */
ion-navbar.modalTitle{
    font-size: 16px;
    height: 40px;
}
ion-navbar.modalTitle>div.toolbar-content.toolbar-content-md > ion-item{
    background-color: transparent;
    font-size: 16px;
    
}
ion-navbar.modalTitle>div.toolbar-content.toolbar-content-md > ion-item > div.item-inner > ion-title > div{
    font-size: 16px;
}

/* detalhe leitura -- aproveita style de leituras12 */
table.leituras12>tbody>tr>td.lbl,
table.leituras12>tbody>tr>td.lblNmbr{
    text-align: right;
    padding: 5px;
    font-weight: 700;
}
table.leituras12>tbody>tr>td.data{
    border-bottom: 1px solid  map-get($colors, editable);
    font-size: 14px !important;
}
table.leituras12>tbody>tr>td.dataNmbr{
    background-color: map-get($colors, editable);
    border-bottom: 1px solid  map-get($colors, dark) !important;
    border-right: 1px solid  map-get($colors, dark) !important;
    font-size: 14px !important;
    text-align: right;
    padding-right: 10px;
}

/* toast */
ion-toast.success>div>div.toast-container{
    background-color: map-get($colors, success);
}
ion-toast.success>div>div.toast-container>div.toast-message{
    color:  map-get($colors, dark);
    font-weight: 700;
}

/* Leitura */
.hlimit{
    height: 40px !important;
}
button.picker-opt{
    font-size: 15px !important;
}
table.dataTable{
    table-layout: fixed;
}
table.dataTable *{
    font-size: 14px;
}
.dataTable tr td{
    height: 30px !important;
}
/* área de cabeçalho */
.tdLblBlk{
    color: map-get($colors, dark)!important;
    text-align: right;    
    font-weight: 600 !important;
}
.tdValLeitura {
    color: map-get($colors, dark)!important;
    text-align: left;    
    font-weight: 400 !important;
}
.tdValLeitura>ion-item{
    min-height: 20px !important;
    padding-left: 4px; 
    padding-top: 1px; 
}
/* ---> Datetime/Select picker */
.tdValLeitura>ion-item>div.item-inner {
    border: none !important;
}
/* ---> Datetime picker */
.tdValLeitura>ion-item>div>div>ion-datetime {
    padding: 5px 8px 0px 0px !important;
    font-weight: normal; 
    border: 1px solid map-get($colors, editable)!important;
    width: 150px !important;
    text-align: center;
    font-weight: 400 !important;
}
/* ---> Select picker */
.tdValLeitura>ion-item>div>div.input-wrapper>ion-select  {
    padding: 3px 8px 0px 10px !important;
    font-weight: normal;
    border: 1px solid map-get($colors, editable)!important;
    min-width: 200px !important;
    max-width: 220px !important;
}
.tdValLeitura>ion-item>div>div.input-wrapper  {
    max-width: 200px !important;
}
/* ---> Input */
.tdValLeitura>input.numero, .tdValLeitura>ion-input.texto{
    text-align: right;
    width: 100px !important;
}
.tdValLeitura>input.numero, .tdValLeitura>ion-input.texto>input{
    margin: 0px 4px !important;
    border: 1px solid map-get($colors, editable)!important;
    text-align: right;
    padding: 2px;
    width: 90px !important;
}
.tdValLeitura>ion-input.texto>input{
    width: 190px !important;
    text-align: left;
}

/* área de labels */
.tdLbl{
    color: map-get($colors, danger)!important;
    text-align: right;    
    font-weight: 600 !important;
    padding-left: 10px !important;
}
.tdUmed{
    color: map-get($colors, dark)!important;
    text-align: left;    
    font-weight: 400 !important;
    padding-right: 20px !important;
}

div.divMP{
    
}

table.dataTableMP{
    max-width: 100%;
    margin: 0px auto !important;
    border: 1px solid black;
}

table.dataTableMP>tbody>tr>th, table.dataTableMP>tbody>tr>td{
    border: 1px solid black;
}

table.dataTableMP>tbody>tr>td.col0, table.dataTableMP>tbody>tr>td {
    text-align: right;
    font-weight: 700;
    width: 100px;
    padding-right: 5px !important;
}

table.dataTableMP>tbody>tr>td {
    text-align: right;
    font-weight: 400;
    width: 100px;
    padding-right: 5px !important;
}

/* apresenta ou não a area da leitura */
.mostra{
    display: inline;
}
.naoMostra{
    display: none;
}
