page-instrumento-detail-detail {

}

.lblDiv{
    display: block;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}
.dataDiv{
    border-bottom:  1px solid gray !important;
    display: block;
}