<ion-header>
  <ion-item no-padding class='head'>
    <ion-title item-end>Leitura ({{leitura.Idx}}): {{currentUHE.sigla}}-{{instrumento.modelo}}-{{instrumento.numero}}</ion-title>
    <ion-buttons start>
      <button ion-button small color="light" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
  <ion-item no-padding class='head subHead'>
    <ion-buttons item-end>
      <button ion-button item-start small icon-only color='dark' (click)="previous()" [disabled]="prevDisable()">
        <ion-icon name='arrow-dropleft'></ion-icon>
      </button>
      <ion-badge item-end style='height: 27px !important;'>{{leitura.Idx}}</ion-badge>
      <button ion-button item-end small icon-only color='dark' (click)="next()" [disabled]="nextDisable()">
        <ion-icon name='arrow-dropright'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-start>Data: {{leitura.DataLeitura}}</ion-title>
  </ion-item>
</ion-header>
<ion-content>
  <ion-grid *ngIf="isDataAvailable">
    <ion-row>
      <ion-col col-4 class='lblDiv'>
        <div class='lblDiv' style='padding-top:5px;'>Data:</div>
      </ion-col>
      <ion-col class='dataDiv'>{{leitura.DataLeitura}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 class='lblDiv'>
        <div class='lblDiv' style='padding-top:5px;'>Situação:</div>
      </ion-col>
      <ion-col class='dataDiv'>{{situacaoLeitura.sigla}}-{{situacaoLeitura.nome}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 class='lblDiv'>
        <div class='lblDiv' style='padding-top:5px;'>Nível D'água:</div>
      </ion-col>
      <ion-col class='dataDiv'>{{leitura.NivelDagua}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 class='lblDiv'>
        <div class='lblDiv' style='padding-top:5px;'>Observação:</div>
      </ion-col>
      <ion-col class='dataDiv'>{{leitura.Observacao}}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- MultiPonto -->
  <ion-grid *ngIf="multiponto">
    <ion-row>
      <ion-col *ngFor="let col of columns" col-4 class='gridTitle'>{{col.label}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="multiponto">
    <ion-row *ngFor="let row of rows">
      <ion-col *ngFor="let col of columns" col-4 [ngClass]='getClass(col)'>{{getVal(row,col) | number:'1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- SinglePoint -->
  <ion-grid *ngIf="!multiponto">
    <ion-row *ngFor="let col of columns">
      <ion-col class='gridTitle'>{{col.label}}</ion-col>
      <ion-col class='gridData'>{{col.valor | number:'1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>